<div class="bs-number-incrementer">
    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-operation="decrement">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </span>

        <span class="bs-number-incremented-target"></span>

        <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-operation="increment">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
</div>